body {
	background-color: lightblue !important;
}

/* Rimuove il triangolo resize in basso a destra per la resize */
textarea {
    resize: none !important;
}

/* Rimuove il triangolo resize in basso a destra per la resize */
div.box {
	height: 500px !important;
	background: rgb(68, 92, 92);
	overflow:auto;
	font-size: 10px;
	margin: 50px 50px 0;
}

/* Rimuove il triangolo resize in basso a destra per la resize */
div.box-inner {
	overflow:auto;
	margin:25px 24px 0;
	padding-right:2px
}

.form-field input {
	border-width: 2px;
	border-radius: 5px;
}

.form-field.error input {
	border-color: var(--error-color);
}

.form-field small {
	color: var(--error-color);
}