/* Colore background */
body {
	background-color: #90caf9 !important;
}

/* Rimuove il triangolo resize in basso a destra per la resize */
textarea {
    resize: none !important;
}

/* Box esterno card */
div.box {
	height: 500px !important;
	background: rgba(159, 168, 218, 0.5);
	overflow:auto;
	margin: 25px;
	border-radius: 10px;
	scroll-behavior: smooth;
}

/* Box interno card */
div.box-inner {
	margin: 16px;
}

/* CARD */
.card {
	background: rgba(255, 255, 255, 0.5) !important;
	border-radius: 10px !important;
}

.form-field input,
.form-field textarea,
.form-field button {
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.5);
}

.form-field.error input {
	border-color: red;
}

.form-field small {
	color: red;
}