/* Stile per il container del popup (effetto sfocatura della schermata) */
.popup-container {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	background-color: #6c757da1 !important;
}

/* Stile per il popup */
.popup {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: var(--background);
	padding: 20px;
	width: 40%;
}

/* Stile per il container dei due bottoni */
.popup .btn-container {
	margin-top: 10px;
	text-align: right;
}

/* Stile dei bottoni */
.popup button {
	border-style: solid;
	border-color: var(--defaultTextColor);
	border-radius: 10px;
	background-color: var(--box-background);
	color: var(--defaultTextColor);
	font-size: 18px;
	width: 15%;
	min-width: 100px;
	margin: 5px;
	padding: 5px;
}

/* Stile per la scritta del popup */
.popup h3 {
	padding: 15px;
	text-align: center;
	color: var(--defaultTextColor)
}
