:root {
	--background: #90caf9;
	--error-color: #dc3545;
	--success-color: #28a745;
	--opaco50: rgba(255, 255, 255, 0.5);
	--lightblue50: rgba(159, 168, 218, 0.5);
	--box-scrollbar-track: #98a4e9;
	--box-scrollbar-thumb: #8a90de;
}

/* Colore background */
body {
	background-color: var(--background) !important;
}

/* Rimuove il triangolo resize in basso a destra per la resize */
textarea {
	resize: none !important;
}

/* Box esterno card */
div.box {
	height: 520px !important;
	text-align: center;
	background: var(--lightblue50);
	overflow: auto;
	margin: 25px;
	margin-top: 5px;
	border-radius: 10px;
	scroll-behavior: smooth;
	position: relative;
}

.loadBtn {
	border-radius: 10px;
	color: black;
	background-color: #98a4e9;
	display: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 50px 8px 50px;
	margin-bottom: 20px;
	font-size: 18px;
}

/* Stile per il form di creazione prodotto */
form {
	margin-left: 50px;
	margin-right: 50px;
}

/* Stile per i campi del form di creazione di un nuovo prodotto */
.input-field input,
.input-field textarea,
.input-field button {
	border-radius: 10px;
	border-width: 2px;
	background-color: var(--opaco50);
}

/* Rimozione spinner da input type="number" */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Rimozione spinner da input type="number" */
.no-spin {
	-moz-appearance: textfield;
}

/* Stile di errore per input del form */
.input-field.error input {
	border-color: var(--error-color);
}

/* Stile per scritta di errore degli input del form */
.input-field input + small,
.input-field label + small {
	color: var(--error-color);
}

/* Stile per Input file */
.input-field input[type='file'] {
	display: none;
}

/* Stile per Input file */
.input-field input[type='file'] + label {
	background-color: var(--opaco50);
	border: 2px solid;
	border-color: #ced4da;
	border-radius: 8px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
}

/* Stile per Input file */
.input-field input[type='file'] + label:hover {
	background-color: white;
	border-color: #6fb3fa;
	cursor: pointer;
}

/* Stile di errore per Input file */
.input-field.error input[type='file'] + label {
	border-color: var(--error-color);
}

.input-field button {
	margin-top: 10px;
}

/* Stile per gli spinner dei box */
.spinner-border {
	width: 4rem !important;
	height: 4rem !important;
	position: absolute;
	top: 45%;
	left: 48%;
}

/* Stile per gli spinner delle card */
.buy-product {
	width: 2rem !important;
	height: 2rem !important;
	position: absolute;
	top: 15%;
	left: 2%;
}

.text-warn-no-product {
	position: absolute;
	/* top: 47%;
	left: 34%; */
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.row {
	/* FIXME: sistemare i margini per le row */
	/* margin-left: 0px !important;
	margin-right: 0px !important; */
	margin: 0px !important;
}

/* Stile per la barra di ricerca */
.search-bar-container {
	margin: 25px 25px 0px 25px !important;
}

.search-bar-container input[type='search'] {
	background-color: var(--opaco50);
	border-radius: 10px;
	border-width: 2px;
	font-size: 18px;
	padding: 5px 20px 5px 50px;
}

.search-bar-container span {
	/* position: absolute; */
	position: relative;
	float: left;
	margin-top: -40px;
	margin-left: 8px;
	font-size: 36px;
	cursor: pointer;
}
