:root {
	--background: #202740;
	--box-background: #384A8C;
	--box-background-focus: hsl(227, 43%, 60%);
	--defaultTextColor: #eeeeee;
	--error-color: #dc3545;
	--success-color: #28a745;
	--opaco50: hsla(0, 0%, 100%, 0.1);
	--lightblue50: #9fa8da80;
	--box-scrollbar-track: hsla(0, 0%, 100%, 0.2);
	--box-scrollbar-thumb: hsla(0, 0%, 100%, 0.2);
}

/* Colore background */
body {
	background-color: var(--background) !important;
}

.input-field input,
.input-field textarea,
.search-bar-container input {
	color: var(--defaultTextColor);
}

.default-text,
.input-field input::placeholder,
.input-field textarea::placeholder,
.search-bar-container input::placeholder,
.search-bar-container span {
	color: var(--defaultTextColor);
}

.input-field input:focus,
.input-field textarea:focus,
.search-bar-container input[type='search']:focus {
	background-color: var(--box-background-focus);
}

/* Rimuove il triangolo resize in basso a destra per la resize */
textarea {
	resize: none !important;
}

/* Box esterno card */
div.box {
	height: 520px !important;
	text-align: center;
	background: var(--box-background);
	border-style: solid;
	border-color: var(--defaultTextColor);
	border-radius: 10px;
	overflow: auto;
	margin: 25px;
	margin-top: 5px;
	scroll-behavior: smooth;
	position: relative;
}

.loadBtn {
	border-radius: 10px;
	color: #000000;
	background-color: #98a4e9;
	display: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 50px;
	margin-bottom: 20px;
	font-size: 18px;
}

/* Stile per il form di creazione prodotto */
form {
	margin-left: 50px;
	margin-right: 50px;
}

/* Stile per i campi del form di creazione di un nuovo prodotto */
.input-field input,
.input-field textarea,
.input-field button {
	border-radius: 10px;
	border-width: 2px;
	border-style: solid;
	background-color: var(--box-background);
}

/* Rimozione spinner da input type="number" */
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Rimozione spinner da input type="number" */
.no-spin {
	-moz-appearance: textfield;
}

/* Stile di errore per input del form */
.input-field.error input {
	border-color: var(--error-color);
}

/* Stile per scritta di errore degli input del form */
.input-field input + small,
.input-field label + small {
	color: var(--error-color);
}

/* Stile per Input file */
.input-field input[type='file'] {
	display: none;
}

/* Stile per Input file */
.input-field input[type='file'] + label {
	background-color: var(--box-background);
	border: 2px solid;
	border-color: var(--defaultTextColor);
	border-radius: 8px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 10px;
	cursor: pointer;
}

/* Stile di errore per Input file */
.input-field.error input[type='file'] + label {
	border-color: var(--error-color);
}

.input-field button {
	margin-top: 10px;
	border-color: #ced4da;
	font-size: 18px;
	width: 15%;
	padding: 5px;
}

/* Stile per gli spinner dei box */
.spinner-border {
	width: 4rem !important;
	height: 4rem !important;
	position: absolute;
	top: 45%;
	left: 48%;
}

/* Stile per gli spinner delle card */
.buy-product {
	width: 2rem !important;
	height: 2rem !important;
	position: absolute;
	top: 15%;
	left: 2%;
}

.text-warn-no-product {
	position: absolute;
	color: var(--defaultTextColor);
	/* top: 47%;
	left: 34%; */
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	display: none;
}

.row {
	text-align: center;
}

/* Stile per la barra di ricerca */
.search-bar-container {
	margin: 25px 25px 0px !important;
}

.search-bar-container input[type='search'] {
	background-color: var(--box-background);
	border-radius: 10px;
	border-width: 2px;
	font-size: 18px;
	padding: 5px 20px 5px 50px;
}

.search-bar-container span {
	position: relative;
	float: left;
	margin-top: -40px;
	margin-left: 8px;
	font-size: 36px;
	cursor: pointer;
}

/* Stile per il container del bottone del form di creazione del prodotto */
.form-btn-container {
	text-align: center;
}
